"whatsyourimpact-frontend":
  title: "whatsyourimpact-frontend"
  paths: [
    "C:\\Users\\Martin\\whatsyourimpact-frontend"
  ]
WebGl:
  title: "WebGl"
  paths: [
    "C:\\Users\\Martin\\OneDrive\\WebGl"
  ]
game_of_life:
  title: "game_of_life"
  paths: [
    "C:\\Users\\Martin\\Desktop\\game_of_life"
  ]
"electron-aspnet-boilerplate":
  title: "electron-aspnet-boilerplate"
  paths: [
    "C:\\Users\\Martin\\REPO\\electron-aspnet-boilerplate"
  ]
